.Body {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.mediaGroup {
  display: flex;
  align-items: flex-start;
}

.Owner {
  font-weight: bold;
  color: var(--clr-accent-dark);
  margin-right: 8px;
}

.Date {
  font-weight: lighter;
  color: var(--clr-accent-light);
}

p {
  text-align: left;
  margin: 0 30px 10px 0;
}

.iconsRight {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start >;
  padding-left: 5px;
}
