.Content {
  padding: 10px;
}

.Text {
  color: var(--clr-accent-dark);
}

.TravelerImage {
  object-fit: cover;
  height: 120px;
  width: 120px;
  margin: 4px;
}

@media screen and (max-width: 991px) {
  .TravelerImage {
    width: 250px;
    height: 250px;
  }
}

.Info i {
  font-size: 1rem;
}

@media screen and (max-width: 770px) {
  .Info {
    flex-direction: column;
  }

  .Info i {
    padding: 5px;
  }
}
