.App {
  background-color: var(--clr-primary-light);
  color: var(--clr-primary-dark);
  text-align: center;
  min-height: 100dvh;
}

.Main {
  padding-top: 120px;
}

@media screen and (max-width: 375px) {
  .Main {
    padding-top: 140px;
  }
}

.Content {
  padding: 10px;
  background-color: white;
  border-radius: 0.375rem;
  border: 1px solid #d5d5d5;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

.topMargin {
  margin-top: 35px;
}

a {
  color: var(--clr-accent-light);
  transition: color ease-in-out 0.3s;
  text-decoration: none;
}

a:hover {
  color: var(--clr-accent-dark);
  text-decoration: none;
  font-weight: 500;
}

a:hover i {
  color: var(--clr-accent-dark);
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: var(--clr-accent-light);
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: var(--clr-accent-dark);
}

figure {
  text-align: center;
  display: inline-block;
}

.HeaderMargin {
  margin-top: 10px;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: var(--clr-primary-light);
}
*::-webkit-scrollbar-thumb {
  background: var(--clr-accent-light);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--clr-accent-dark);
}