:root {
  /* Colors */
  --clr-primary-light: rgb(245, 245, 245);
  --clr-primary-dark: rgb(35 32 14);

  --clr-natural-light: rgb(248, 246, 244);

  --clr-accent-pink: rgb(196, 104, 145);
  --clr-accent-danger: rgb(128, 27, 72);
  --clr-accent-light: rgb(149, 164, 170);
  --clr-accent-dark: rgb(72 102 113);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  color: var(--clr-accent-dark);
}

p {
  color: var(--clr-accent-dark);
}

.form-control:focus {
  color: var(--clr-primary-dark);
  background-color: var(--clr-natural-light);
  border-color: var(--clr-accent-dark);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(72, 102, 113, 0.25);
}